<div class="container col-md-10 my-4" style="height:80vh; overflow-y:scroll">

    <form class="form-inline" action="/admin/customers/payments/add/{{userId}}" , method="POST">
        <div class="card card-body my-4 sticky-top">
            <h2 class="card-title text-center">Agregar un pago</h2>
            <div class="row flex justify-content-center">

                <div class="form-group col-md-2">
                    <p class="mb-1">Cancelado: </p>
                    <input type="text" id="paid_amount_input" name="paid_amount" class="form-control currency-input"
                        placeholder="Valor cancelado" required>
                </div>
                <div class="form-group col-md-2">
                    <p class="mb-1">Pendiente: </p>
                    <input type="text" id="pending_amount_input" name="pending_amount" class="form-control currency-input"
                        placeholder="Valor pendiente" required>
                </div>
                <div class="form-group col-md-2">
                    <p class="mb-1">Motivo: </p>
                    <input type="text" name="description" class="form-control" placeholder="Motivo de Cancelaci칩n">
                </div>
                <div class="form-group col-md-2">
                    <p class="mb-1">Direcci칩n: </p>
                    <input type="text" name="address" class="form-control" placeholder="Direcci칩n del acreedor">
                </div>
                <div class="form-group col-md-2">
                    <p class="mb-1">Funcionario/a: </p>
                    <input type="text" name="recipient" class="form-control" placeholder="A quien se emite el pago">
                </div>
            </div>
    
            <div class="row mt-4 sticky-top">
                <button class="btn btn-primary mx-auto">
                    A침adir un Pago
                </button>
            </div>
        </div>
    
    </form>


    <div class="card card-body" style="height:80vh">
        <h2 class="card-title text-center">Historial de Pagos</h2>
        <div class="column" style="height30vh; overflow-y:scroll">
            {{>payment-table}}
        </div>
    </div>
</div>

{{>currency-script}}