<div class="container col-md-10">
    <form class="form-inline m-4" action="/admin/customers/payments/add/{{userId}}", method="POST">
        <div class="form-group mr-4">
            <p class="mr-2">Cancelado: </p>
            <input type="text" id="paid_amount_input" name="paid_amount" class="form-control currency-input" placeholder="Valor cancelado" required>
        </div>
        <div class="form-group mr-4">
            <p class="mr-2">Pendiente: </p>
            <input type="text" id="pending_amount_input" name="pending_amount" class="form-control currency-input" placeholder="Valor pendiente" required>
        </div>
        <div class="form-group mr-4">
            <p class="mr-2">Motivo: </p>
            <input type="text"  name="description" class="form-control" placeholder="Motivo de Cancelación" required>
        </div>
        <button class="btn btn-primary mr-4">
            Añadir un Pago
        </button>

    </form>

    <div class="container-fluid pt-2 pb-2" style="height:85vh;overflow-y:scroll;">
        {{>payment-table}}
    </div>

</div>

{{>currency-script}}