<div id="scrollable-container" class="container main-container col-md-8"
        style="height: 65vh; width: 100%; display:flex; overflow-x:scroll;">
    
    <div class="card mx-auto col-md-8">
        <div class="card card-header">
            <h3 class="card-title">Archivos Subidos</h3>
            <h4 class=" m-0" style="font-size:2vh">{{customer.fullname}}</h4>
        </div>
        <div class="card card-body">
            <ul>
                {{#each customer.files}}
                <li><a href="https://drive.google.com/file/d/{{id}}/view" target="_blank">{{name}}</a></li>
                {{else}}
                No se han subido archivos
                {{/each}}
            </ul>
        </div>

    </div>
</div>
