<div class="container-fluid col-md-8" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <img style="height:15vh" src="img/title.png" alt="Publinovva logo">
    <img style="height:45vh" src="img/background.png" alt="Publinovva banner">
</div>