<div class="container-fluid col-md-8" style="display: flex; align-items: center; justify-content: center; flex-direction: column; height:80%">
    <img class="mt-auto" style="max-width:90vw" src="img/title.png" alt="Publinovva logo">
    <img class="mb-auto" style="max-width:90vw" src="img/background.png" alt="Publinovva banner">
</div>