<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            {{!-- <img src="img/title.png" style="height: 10rem;" alt="Publinovva logo">
            <img src="img/background.png" style="height: 30rem;" alt="Publinovva banner"> --}}
        </div>
        <div class="overlay"></div>
    </header>
</main>