<nav style="height:10vh; z-index:1080" class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    {{!-- <a class="navbar-brand" href="/">
      <i class="fas fa-link"></i>
      <h2>Publinovva</h2>
      <p>Database Manager</p>
    </a> --}}
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/img/logo.png" style="height:8vh">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto" style="background-color:white">
        {{#if user}}
        <li class="nav-item dropdown">

        {{#if user.name}}

        <li class="nav-item">
          <h3 class="nav-link mb-0 text-center">{{user.name}}</h3>
          <a class="nav-link mt-0 text-center" style="font-size: 2vh" href="/admin/edit">Editar perfil</a>
        </li>
        {{/if}}
        

        <li class="nav-item ml-5">
          <a class="nav-link" href="/logout">Cerrar Sesión</a>
        </li>

        {{else}}
        {{!-- <li class="nav-item ml-5">
          <a class="nav-link" href="/customer/signin">Clientes</a>
        </li> --}}
        <li class="nav-item ml-5">
          <a class="nav-link" href="/admin/signin">Iniciar Sesión</a>
        </li>
        {{!-- <li class="nav-item ml-5">
          <a class="nav-link" href="/admin/signup">Admin SignUp</a>
        </li> --}}
        {{/if}}
      </ul>
    </div>
  </div>
</nav>