
<div class="container col-md-10 my-4 text-right" style="height:80vh; overflow-y:scroll">
    <a class="btn btn-primary m-2" href="/">
        Volver
    </a>
    <div class="card card-body" style="height:80vh">
        <h2 class="card-title text-center">Historial de Pagos</h2>
        <div class="column" style="height30vh; overflow-y:scroll">
            {{>admin-payment-table}}
        </div>
    </div>
</div>

{{>currency-script}}